{% extends 'new/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <br>
  <h3 class="text-center" >{{user|upper}}
    <small class="text-center lead">- Joined {{ user.date_joined|timesince }} ago</small>
  </h3>
  <hr>
  <br>
  <h3 class="lead">All Jamah made by {{user|upper}}:</h3>
  {% include 'jamah/snippet/alljamah.html' with jamahs=jamahs %}
  <br>
  <br>
  <h3 class="lead">Polls {{user|upper}} Created:</h3>
  {% include 'polls/snippet/allpolls.html' %}
  <br>
</div>

{% endblock %}
