{% extends 'new/base.html' %}
{% load static %}

{% block content %}

  {% if messages %}
    {% for message in messages %}
      <h3>{{message}}</h3>
    {% endfor %}
  {% endif %}
  <br>
  <a href="{% url 'blog:create' %}" class="btn btn-secondary">Create Your own BLOG</a>
  <br><br>
  <h3>This is all the blogs created</h3>

  <ul class="list-group">
    {% for blog in blogs %}
      {% if blog.heading_text %}
        <a href="{% url 'blog:detail' blog.id %}" class="list-group-item
                                list-group-item-action d-flex justify-content-between align-items-center">
          {{blog.heading_text}}
          <span class="badge badge-primary badge-pill">{{blog.voteforblog_set.count}}</span>
        </a>
      {% endif %}
    {% endfor %}
  </ul>

  <br><br>

{% endblock %}
