{% extends 'new/base.html' %}
{% load static %}

{% block content %}

  {% if messages %}
    {% for message in messages %}
      <h3>{{message}}</h3>
    {% endfor %}
  {% endif %}
  <br><br>
  <h3>This is all the blogs created</h3>

  <ul class="list-group">
    {% for blog in blogs %}
      {% if blog.heading_text %}
        <li class="list-group-item"><a href="{% url 'blog:detail' blog.id %}">{{blog.heading_text}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  
  <br><br>

{% endblock %}
