{% extends 'new/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <br><br>
  <form action="{% url 'blog:create' %}" method="post">
    {% csrf_token %}
    {{ form.heading_text|as_crispy_field }}
    {{ form.body_text|as_crispy_field }}
    <br>
      <div class="row">
      <div class="col">
        {{ form.is_finished|as_crispy_field }}
      </div>
      <div class="col">
        {{ form.is_published|as_crispy_field }}
      </div>
      <div class="col">
        <input class="btn btn-primary" type="submit" name="" value="Add as BLOG!!">
      </div>
    </div>
  </form>
  <br><br>
  <!-- <form action="{% url 'blog:create' %}" method="post">
    {% csrf_token %}
    <label for="heading"> Heading </label>
    <input id="heading" type="text" name="heading"> <br>
    <label for="body"> Body </label>
    <textarea id="body" name="body" rows="8" cols="80"></textarea> <br>
    <label for="fin"> Finished? </label>
    <input type="checkbox" name="is_finished" value="True" id="fin" > <br>
    <label for="pub"> publish? </label>
    <input type="checkbox" name="is_published" value="True" id="pub" > <br>
    <input class="btn btn-primary" type="submit" value="Add as BLOG!!"><br>
  </form>
  <br><br> -->
</div>

{% endblock %}
