<h1>Various Things</h1>

<ul>
  {% if user.is_staff %}
    <li><a href="{% url 'profile:alluser' %}">All Users</a></li>
  {% endif %}
  <li><a href="{% url 'myuser:signup' %}">Sign Up</a></li>
  <li><a href="{% url 'login' %}">Log In</a></li>
  <li><a href="{% url 'logout' %}">Log Out</a></li>
  <li><a href="{% url 'polls:index' %}">Polls</a></li>
  <li><a href="{% url 'event:index' %}">Events</a></li>
  <li><a href="{% url 'product:index' %}">Products</a></li>
</ul>
<br>
{% if user.is_authenticated %}
  <p>Hi {{ user.username }}</p>
{% else %}
  <p>You are not logged in</p>
{% endif %}
