{% extends 'new/base.html' %}
{% load static %}

{% block navbar %}
{% include 'new/navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="jumbotron">
  <div class="row">
    <div class="col-4">
      <div class="container">
        <img src="{% static 'image.png' %}" class="img-fluid" alt="Logo of the site">
      </div>
    </div>
    <div class="col-8">
      <div class="container">
        <h1 class='display-1' ><span class="text-danger">E</span>vent
          <span class="text-danger">M</span>anage<span class="text-danger">M</span>ent
        </h1>
        <p class="lead text-right font-italic">  Make your Event Seamless...</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
