{% extends 'new/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="jumbotron">
  <div class="row">
    <div class="container">
      <img src="{% static 'image.png' %}" class="mx-auto d-block img-fluid" alt="Logo of the site">
    </div>
  </div>
  <div class="row">
    <div class="container">
      <h1 class='h1 text-center' ><span class="text-danger">E</span>vent
        <span class="text-danger">M</span>anage<span class="text-danger">M</span>ent
      </h1>
      <p class="lead text-right font-italic lead text-center">  Make your Event Seamless...</p>
    </div>

  </div>

</div>

{% endblock %}
