<ul class="list-group">
  {% for jamahmember in jamah.jamahmember_set.all %}
    {% if not jamahmember.still_to_be_excepted %}
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span>
          <a href="{% url 'profile:user_profile' jamahmember.member.id %}">
            {{jamahmember.member.username|upper}}
          </a>
          <small>Member since - {{jamahmember.timestamp}}</small>
        </span>
        <span class="badge badge-primary badge-pill">{{jamahmember.status}}</span>
      </li>
    {% endif %}
  {% endfor %}
</ul>
