{% if jamahs.count %}
  <ul class="list-group">
    {% for jamah in jamahs %}
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span>
          <a href="{% url 'jamah:detail' jamah.id %}">
            {{jamah.jamahname}}
          </a>
          <small>
            Created by --
            <a href="{% url 'profile:user_profile' jamah.creator.id %}">
              {{ jamah.creator.username|upper }}
            </a>
          </small>
        </span>
        <span>
          <span class="badge badge-info badge-pill"> {{jamah.members.count}} member</span>
          {% if True %}
            <a class="btn btn-primary" href="{% url 'jamah:join_jamah' jamah.id %}">Join?</a>
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <br>
  <h3 class="lead"><mark>There seem to be no Jamah !!!</mark></h3>
{% endif %}
