<h3>Question details</h3>

<h1>{{question.question_text}}</h1>

{% if error_message %}<p><strong> {{error_message}} </strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %}
  {% for choice in question.choice_set.all %}
  <input type="radio" name="choice" value="{{choice.id}}" id="choice{{forloop.counter}}">
  <label for="choice{{ forloop.counter }}"> {{choice.choice_text}} </label> <br>
  {% endfor %}
  <br>
  <input type="submit" value="Vote">
</form>

<form action="{% url 'polls:save_choice' question.id %}" method="post">
  {% csrf_token %}
  <input type="text" name="choice">
  <input type="submit" value="Add Choice">
</form>

<h3>Comments:</h3>
<ul>
{% for comment in question.comment_set.all %}
  <li>{{comment.comment_text}}</li>
{% endfor %}
</ul>

<form action="{% url 'polls:save_comment' question.id %}" method="post">
  {% csrf_token %}
  <input type="text" name="comment">
  <input type="submit" value="Add Comment">
</form>
