{% extends 'new/base.html' %}
{% load static %}

{% block content %}
<br>
<h3>Questions:</h3>
<br>
<ul class="list-group">
  {% for q in question_list %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <a href="{% url 'polls:detail' q.id %}">
        {{q.question_text}}
      </a>
      {% if user.is_staff or user == q.creator %}
        <a class="btn btn-danger" href="{% url 'polls:delete_question' q.id %}">
          delete?
        </a>
      {% endif %}
      <span class="badge badge-primary badge-pill">{{q.vote_set.count}}</span>
    </li>
  {% endfor %}
</ul>
<br>

<form action="{% url 'polls:save_question' %}" method="post">
  {% csrf_token %}
  <input type="text" name="question">
  <input type="submit" value="Add Question">
</form>
<br><br>
{% endblock %}
