<h3>Questions:</h3>
<h4><a href="{% url 'home' %}">Back To Home</a></h4>
<ul>
  {% for q in question_list %}
  <li><a href="{% url 'polls:detail' q.id %}">{{q.question_text}}</a>
                {% if user.is_staff or user == q.creator %}
                <a href="{% url 'polls:delete_question' q.id %}">delete?</a> {% endif %}</li>
  {% endfor %}
</ul>

<form action="{% url 'polls:save_question' %}" method="post">
  {% csrf_token %}
  <input type="text" name="question">
  <input type="submit" value="Add Question">
</form>
