{% if eventmembers|length %}
  <div class="table-responsive">
    <table class="table table-borderless table-striped table-hover mx-auto">
      <thead>
        <tr>
          <th>Name</th>
          <th>Donation</th>
        </tr>
      </thead>
        <tbody>
          {% for eventmember in eventmembers %}
          <tr>
            <td>{{eventmember.member.username}}</td>
            <td>
              {{eventmember.total_donation}}
              <i class="fas fa-money-bill-wave"></i>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
{% else %}
  <br>
  <h3 class="lead"><mark>No Event Member Yet !!!</mark></h3>
{% endif %}
