{% if events.count %}
  <ul class="list-group">
    {% for event in events %}
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span>
          <a href="{% url 'event:detail' event.id %}">
            {{event.name}}
          </a>
          <small>
            Created by --
            <a href="{% url 'profile:user_profile' event.creator.id %}">
              {{ event.creator.username|upper }}
            </a>
          </small>
        </span>
        <span>
          <span class="badge badge-primary badge-pill"> {{event.members.count}} member</span>
          <a class="btn btn-info" href="{% url 'event:donate' event.id %}">Donate.</a>
          <a class="btn btn-warning" href="{% url 'event:pay' event.id %}">Pay</a>
          {% if user.is_admin or user == event.creator %}
            <a class="btn btn-danger" href="#">Archive?</a>
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <h3>There seem to be no Event!!!</h3>
{% endif %}
