{% if eventmembers|length %}
  <div class="table-responsive">
    <table class="table table-borderless table-striped table-hover mx-auto">
      <thead>
        <tr>
          <th>Name</th>
          <th>Per Head Cost</th>
          <th>Recieved Money</th>
          <th>Due</th>
        </tr>
      </thead>
        <tbody>
          {% for eventmember in eventmembers %}
          <tr>
            <td>{{eventmember.member.username}}</td>
            <td>{{eventmember.event.per_head_cost}}</td>
            <td>
              {{eventmember.total_sent_money}}
              <i class="fas fa-money-bill-wave"></i>
            </td>
            <td>
              100
              <i class="fas fa-money-bill-wave"></i>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td><mark><strong>Totals :</strong></mark></td>
            <td>
              <strong>{{event.total_cost}}</strong>
              <i class="fas fa-money-bill-wave"></i>
            </td>
            <td>
              <strong>{{event.total_recieved_money}}</strong>
              <i class="fas fa-money-bill-wave"></i>
            </td>
            <td>
              <strong>9999</strong>
              <i class="fas fa-money-bill-wave"></i>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
{% else %}
  <br>
  <h3 class="lead"><mark>No Event Member Yet !!!</mark></h3>
{% endif %}
