{% if transactions|length %}
  <ul class="list-group">
    {% for transaction in transactions %}
      <li class="
        list-group-item
        {% if transaction.verified_by %}
          list-group-item-success
        {% else %}
          list-group-item-danger
        {% endif %}
        list-group-item-action d-flex justify-content-between align-items-center">
        <span>
          <mark>
            {{transaction.amount}}
            <i class="fas fa-money-bill-wave"></i>
          </mark>
          <small>
            Recieved from --
            <a href="{% url 'profile:user_profile' transaction.comes_from.userinfo.user.id %}">
              {{ transaction.comes_from.userinfo.user.username|upper }}
            </a>
            at {{transaction.timestamp}}
          </small>
        </span>
        <span>
          {% if transaction.is_donation %}
            <p class="badge badge-primary badge-pill">donation</p>
          {% endif %}
          {% if transaction.verified_by %}
            <small>Accountant --</small>
            <a href="{% url 'profile:user_profile' transaction.verified_by.id %}">
              {{ transaction.verified_by.username|upper }}
            </a>
          {% elif transaction.goes_to.eventmember.member == user %}
            <a class="btn btn-outline-success btn-sm" href="{% url 'event:verify_transaction' transaction.goes_to.eventmember.event.id transaction.id %}">
              Verify?
            </a>
          {% else %}
            <p class="badge badge-danger badge-pill">not verified</p>
            <small>Accountant --</small>
            <a href="{% url 'profile:user_profile' transaction.goes_to.eventmember.member.id %}">
              {{ transaction.goes_to.eventmember.member.username|upper }}
            </a>
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <br>
  <h3 class="lead"><mark>No Money Recieved yet !!!</mark></h3>
{% endif %}
