{% extends 'new/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<h3 class="text-center">
  <mark>Create Cost</mark>
  <small>
    for the event:
    <a href="{% url 'event:detail' event.id %}">{{event.name}}</a>
  </small>
</h3>
<hr>
<br>
<div class="row">
  <div class="col col-lg-6 mx-auto">
    <h3 class="lead"><mark>Create Cost:</mark></h3>
    <br>
    <form action="{% url 'event:create_cost' event.id %}" method="post">
      {% csrf_token %}
      {{costform|crispy}}
      <input class="btn btn-primary" type="submit" value="Create COST!!!">
    </form>
  </div>
</div>
<br>
<br>

{% endblock %}
