<a href="{% url 'home' %}">Back to Home</a><br>
<a href="{% url 'event:index' %}">Back to Events</a>
<br>
<br>

<h3>This is Event : "{{event.name}}", Which is created by <strong>"{{event.creator.username}}"</strong></h3>

<h3>Existing members:</h3>
<ul>
  <li>{{event.creator}} -- Creator</li>
  {% for member in eventmembers %}
  <!-- because creator is added differentl -->
    {% if member != event.creator %}
      <li>
        <a href="{% url 'profile:user_profile' member.id %}">{{member.username}}</a>
        {% if user.is_staff or user == event.creator %}
        <a href="{% url 'event:remove_member' event.id member.id %}">remove?</a>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>


{% if user.is_staff or user == event.creator %}
  <h3>Add member:</h3>

  <form action="{% url 'event:save_member' event.id %}" method="post">
    {% csrf_token %}
    <ol>
      {% for user in users %}
      <!--  creator is already in the member list -->
        {% if user != event.creator %}
          <li>
            <input type="checkbox" name="member" value="{{ user.id }}">
            <a href="{% url 'profile:user_profile' user.id %}">{{ user.username }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
    <br>
    <input type="submit" value="Add Member">
  </form>
{% endif %}
