{% extends 'new/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<h3 class="text-center">
  Financial Details
  <small>
    of the event:
    <a href="{% url 'event:detail' event.id %}">
      {{event.name}}
    </a>
  </small>
</h3>
<hr>
<br><br>
  {% include 'event/snippet/allcosttable.html' with eventmember=current_eventmember costs=costs event=event %}
<br>
<br>
<p class="h1 text-center">
  <small>Total COST:</small>
  <mark>
    {{event.total_cost}}
  </mark>
  <i class="fas fa-money-bill-wave"></i>
</p>
<br><br>
  {% include 'event/snippet/allrecievedmoney.html' with eventmembers=eventmembers event=event%}

<br><br>
  <p class="text-center h1">
    <small>Total Recieved:</small>
    <mark>
      {{event.total_recieved_money}}
    </mark>
    <i class="fas fa-money-bill-wave"></i>
  </p>
<br>
<p class="text-center h1">
  <small>Total Donation:</small>
  <mark>{{event.total_donation}}</mark>
  <i class="fas fa-money-bill-wave"></i>
</p>
<br><br>
  {% include 'event/snippet/alldonations.html' with eventmembers=eventmembers %}
<br>
<p class="text-center h1">
  <small>Total Member Count:</small>
  <mark>{{event.members.count}}</mark>
</p>
<br>
<p class="h1 text-center">
  <small>Per Head COST:</small>
  <mark>{{event.per_head_cost}}</mark>
  <i class="fas fa-money-bill-wave"></i>
</p>
<br>
{% endblock %}
