{% extends 'new/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<h3 class="text-center">
  Financial Details
  <small>
    of the event:
    <a href="{% url 'event:detail' event.id %}">
      {{event.name}}
    </a>
  </small>
</h3>
<hr>
<br>
<p class="h1 text-center">
  <small>Total COST:</small>
  <mark>
    {{event.total_cost}}
  </mark>
</p>
<br>
  {% include 'event/snippet/allcosts.html' with eventmember=current_eventmember costs=costs %}
<br>
<p class="text-center h1">
  <small>Total Recieved:</small>
  <mark>
    {{event.total_recieved_money}}
  </mark>
</p>
<br>
  {% include 'event/snippet/allrecievedmoney.html' with eventmember=current_eventmember transactions=transactions %}
<br>
<p class="text-center h1">
  <small>Total Donation:</small>
  <mark>{{event.total_donation}}</mark>
</p>
<br>
  {% include 'event/snippet/allrecievedmoney.html' with eventmember=current_eventmember transactions=donations %}
<br>
<p class="text-center h1">
  <small>Total Member Count:</small>
  <mark>{{event.members.count}}</mark>
</p>
<br>
<p class="h1 text-center">
  <small>Per Head COST:</small>
  <mark>{{event.per_head_cost}}</mark>
</p>
<br>
{% endblock %}
