{% extends 'new/base.html' %}
{% load static %}

{% block content %}


{% if message %}
<h3>{{message}}</h3>
{% endif %}
<br>

{% if user.is_authenticated %}
<h3>Create a new EVENT</h3>

<form action="{% url 'event:create' %}" method="post">
  {% csrf_token %}
  <input type="text" name="event">
  <button type="submit">Create</button>
</form>

<br><br>
<h3>Below are all the event YOU created:</h3>
<ul class="list-group">
  {% for event in eventOfMine %}
  <li class="list-group-item"><a href="{% url 'event:detail' event.id %}">{{event.name}}</a></li>
  {% endfor %}
</ul>
<br>
<br>
<h3>Below are all the event YOU are a part of:</h3>
<ul class="list-group">
  {% for event in eventbyall %}
  <li class="list-group-item"><a href="{% url 'event:detail' event.id %}">{{event.name}}</a> Created by -- {{ event.creator.username }}</li>
  {% endfor %}
  <!-- TODO: Access all the list  -->
</ul>
<br><br>

{% endif %}

{% endblock %}
