{% if polls.count %}
  <ul class="list-group">
    {% for poll in polls %}
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span>Q:
          <a href="{% url 'polls:detail' poll.id %}">
            "{{poll.question_text}}"
          </a>
          <small>added {{poll.pub_date}}</small>
        </span>
        <span>
          <span class="badge badge-primary badge-pill"> {{poll.vote_set.count}} vote</span>
          <a class="btn btn-info" href="{% url 'polls:result' poll.id %}">Result.</a>
          {% if user.is_staff or user == poll.creator %}
            <a class="btn btn-danger" href="{% url 'polls:delete_question' poll.id %}">delete?</a>
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <br>
  <h3 class="lead"><mark>There seem to be no polls....</mark></h3>
{% endif %}
